{
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "printWidth": 100,
        "singleAttributePerLine": true,
        "objectWrap": "preserve",
        "trailingComma": "es5"
      }
    },
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "parser": "json",
        "trailingComma": "none"
      }
    },
    {
      "files": "*.md",
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": "*.mdx",
      "options": {
        "parser": "mdx",
        "printWidth": 1000,
        "objectWrap": "collapse",
        "trailingComma": "none",
        "embeddedLanguageFormatting": "off"
      }
    }
  ],
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "useTabs": false
}
