---
import Component from "@components/utils/renderBlock.astro";

const {
  contentSections = [],
  useDefaultEditableBinding = false,
  class: className,
  _component,
  "data-children-prop": childrenDataProp,
  ...htmlAttributes
} = Astro.props;

const effectiveChildrenProp =
  childrenDataProp ?? (useDefaultEditableBinding ? "contentSections" : null);
const arrayDataAttributes = effectiveChildrenProp
  ? { "data-editable": "array", "data-prop": effectiveChildrenProp }
  : {};
---

<div
  class:list={["slide", className]}
  role="group"
  {...htmlAttributes}
>
  <div
    class="slide__content"
    {...arrayDataAttributes}
  >
    <slot>
      {
        contentSections && (
          <Component
            contentSections={contentSections}
            useDefaultEditableBinding={!!effectiveChildrenProp}
          />
        )
      }
    </slot>
  </div>
</div>

<style>
  @layer components {
    .slide {
      container-type: inline-size;
      flex-basis: calc(max(var(--slide-width, 100%), var(--min-slide-width, 0px)));
      flex-shrink: 0;

      > .slide__content {
        > :global(*:first-child) {
          margin-top: 0 !important;
        }
      }
    }
  }
</style>
