/* Light theme */
[data-theme="light"] {
  color-scheme: light;

  --color-brand: var(--gray-12);
  --color-brand-muted: var(--gray-9);
  --color-brand-subtle: var(--gray-7);
  --color-brand-on: var(--gray-0);

  --color-text: var(--gray-10);
  --color-text-strong: var(--gray-12);
  --color-text-muted: var(--gray-8);
  --color-text-on-muted: var(--gray-12);
  --color-text-on-brand: var(--gray-0);
  --color-text-inverse: var(--gray-0);
  --color-link: blue;
  --color-link-hover: darkblue;

  --color-bg: var(--gray-0);
  --color-bg-surface: var(--gray-1);
  --color-bg-muted: var(--gray-2);
  --color-bg-accent: #d5fdff;
  --color-bg-highlight: #fff9d6;
  --color-bg-brand: var(--color-brand);
  --color-bg-brand-muted: var(--color-brand-muted);
  --color-bg-inverse: var(--gray-12);

  --color-border: var(--gray-4);
  --color-border-inputs: var(--gray-7);
  --color-border-strong: var(--gray-10);
  --color-border-subtle: var(--gray-1);

  --color-state-hover: rgba(0, 0, 0, 0.04);
  --color-state-active: rgba(0, 0, 0, 0.08);
  --color-overlay: rgba(0, 0, 0, 0.5);

  --color-focus-ring: rgba(0, 87, 255, 0.4);
  --color-error: #f00;
}
