$font-color: #222222; 
$body-color: #eeeeee;
$link-color: #4072B3;

$h2-bg-color: gray;
$h2-font-color: $body-color;
$h3-bg-color: gray;
$h3-font-color: gray;
$h4-bg-color: gray;
$h4-font-color: $body-color;

body {
    color: $font-color;
    background-color: $body-color;
    line-height: 2em;
    font-size: 1em;
}

div.post-content {
    line-height: 2.2em;
}

a:link, a:visited, a:hover, a:active {
    color: $link-color;
}

h1 {
    border-radius: 15px;
}

h2, h3, h4 {
    padding: 10px 10px;
    margin-top: 30px;
}

h2 {
    font-size: 1.4em;
    color: $h2-font-color;
    background: $h2-bg-color;
    margin-bottom: 15px;
    border-radius: 8px;
    &:first-child {
        margin-top: 0px;
    }
    &:not(:first-child) {
        margin-top: 60px;
    }
}

h3 {
    font-size: 1.2em;
    color: $font-color;
    border-bottom: 3px solid $h3-bg-color;
    // background: $h3-bg-color;
}

h4 {
    font-size: 1em;
    color: $font-color;
    border-bottom: 1px solid $h4-bg-color;
}

.highlight pre code {
    white-space: pre-wrap;
    padding: 15px;
}

td {
    padding: 0 15px;
}

i {
    margin-right: 5px;
}

.navbar {
    padding-top: 10px;
}

.nav > .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 5px;

}

h1.logo {
    margin: 0;
}

h1.post-title {
    margin-bottom: 0.2em;
}

.post-date-author {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    img {
        max-width: 30px;
        height: auto;
        border-radius: 50%;
        margin-right: 1em;
    }
}