---
import Component from "@components/utils/renderBlock.astro";
import { slugifyLabel } from "@components/utils/slugify";

const {
  direction = "row",
  alignX = "start",
  buttonSections,
  "data-children-prop": childrenDataProp,
  useDefaultEditableBinding = false,
  class: className,
  label,
  _component,
  ...htmlAttributes
} = Astro.props;

const effectiveChildrenProp =
  childrenDataProp ?? (useDefaultEditableBinding ? "buttonSections" : null);
const arrayDataAttributes = effectiveChildrenProp
  ? { "data-editable": "array", "data-prop": effectiveChildrenProp }
  : {};

if (!htmlAttributes.id && label) {
  htmlAttributes.id = slugifyLabel(label);
}

const alignMap = {
  start: "align-start",
  center: "align-center",
  end: "align-end",
} as const;

const alignClass = alignMap[alignX as keyof typeof alignMap] ?? "align-start";

const hasButtonSections = buttonSections?.length > 0;
const hasSlotContent = Astro.slots.has("default");

if (!_component && !hasButtonSections && !hasSlotContent) return;
---

<div
  class:list={["button-group", className]}
  {...htmlAttributes}
>
  <div
    class:list={["button-group__items", direction === "column" ? "column" : "row", alignClass]}
    {...arrayDataAttributes}
  >
    <slot>
      {
        buttonSections && buttonSections.length > 0 && (
          <Component
            contentSections={buttonSections}
            useDefaultEditableBinding={!!effectiveChildrenProp}
          />
        )
      }
    </slot>
  </div>
</div>

<style is:global>
  @layer components {
    .button-group {
      container-type: inline-size;
      margin-top: var(--spacing-lg);
      position: relative;
      width: 100%;

      > .button-group__items {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-sm);
        justify-content: flex-start;
        width: 100%;

        &.column {
          flex-direction: column;

          &.align-start {
            align-items: flex-start;
          }

          &.align-end {
            align-items: flex-end;
          }
        }

        &.row {
          flex-direction: row;

          &.align-center {
            justify-content: center;
          }

          &.align-end {
            justify-content: flex-end;
          }
        }
      }
    }
  }
</style>
