---
import RenderBlock from "@components/utils/renderBlock.astro";

const {
  contentSections,
  useDefaultEditableBinding = false,
  class: className,
  _component,
  "data-children-prop": childrenDataProp,
  ...htmlAttributes
} = Astro.props;

const effectiveChildrenProp =
  childrenDataProp ?? (useDefaultEditableBinding ? "contentSections" : null);
const arrayDataAttributes = effectiveChildrenProp
  ? { "data-editable": "array", "data-prop": effectiveChildrenProp }
  : {};
---

<div
  class:list={["grid-item", className]}
  {...htmlAttributes}
>
  <div
    class="grid-item-content"
    {...arrayDataAttributes}
  >
    <slot>
      {
        contentSections && (
          <RenderBlock
            contentSections={contentSections}
            useDefaultEditableBinding={!!effectiveChildrenProp}
          />
        )
      }
    </slot>
  </div>
</div>

<style>
  @layer components {
    .grid-item {
      container-type: inline-size;
      > .grid-item-content {
        height: 100%;
      }

      > .grid-item-content > :global(*:only-child) {
        height: 100%;
      }

      > .grid-item-content > :global(*:first-child) {
        margin-top: 0 !important;
      }
    }
  }
</style>
