---
const {
  html,
  aspectRatio = "landscape",
  class: className,
  useDefaultEditableBinding: _useDefaultEditableBinding = false,
  _component,
  ...htmlAttributes
} = Astro.props;

const slot = await Astro.slots.render("default");
const content = slot || html;
---

<div
  class:list={["embed-wrapper", className]}
  {...htmlAttributes}
>
  <div
    class:list={["embed-content", `ratio-${aspectRatio}`]}
    set:html={content}
  />
</div>

<style>
  @layer components {
    .embed-wrapper {
      margin-top: var(--spacing-lg);

      > .embed-content {
        > :global(iframe) {
          border: none;
          display: block;
          height: 100%;
          width: 100%;
        }

        &.ratio-square {
          aspect-ratio: var(--ratio-square);
        }

        &.ratio-landscape {
          aspect-ratio: var(--ratio-landscape);
        }

        &.ratio-portrait {
          aspect-ratio: var(--ratio-portrait);
        }

        &.ratio-widescreen {
          aspect-ratio: var(--ratio-widescreen);
        }
      }
    }
  }
</style>
