---
import Page from "@layouts/Page.astro";
---

<Page title="404 Not found" description="ページが見つかりませんでした">
  <section style="max-width: 70ch; margin: 4rem auto; padding: 0 1.5rem; text-align: center;">
    <h1>404 Not found</h1>
    <p>アクセスされたURLは存在しませんでした。</p>
    <p><a href="/">トップページ</a>からアクセスしてみてください。</p>
  </section>
</Page>
