---
import Page from "@layouts/Page.astro";
import SpeakerDeck from "../components/SpeakerDeck.astro";
---

<Page
  title="CoderDojoとは"
  description="CoderDojoとは何か、その考え方や活動について"
>
  <section style="max-width: 70ch; margin: 4rem auto; padding: 0 1.5rem;">
    <h1>CoderDojoとは</h1>
    <p>
      CoderDojoとは「ボランティアによる若い人たちのための無料のプログラミングクラブ」で、2011年にアイルランドで始まった世界的な活動です。
      CoderDojoとは何かを知っていただくために、アイルランドのCoderDojo
      Foundationが掲げる考え方を紹介します。
    </p>

    <h2>What Is CoderDojo?</h2>
    <p>
      CoderDojo is a worldwide movement of free, volunteer-led, community-based programming clubs
      for young people. Anyone aged seven to seventeen can visit a Dojo where they can learn to
      code, build a website, create an app or a game, and explore technology in an informal,
      creative, and social environment.
    </p>
    <p>
      The CoderDojo movement believes that an understanding of programming languages is increasingly
      important in the modern world, that it's both better and easier to learn these skills early,
      and that nobody should be denied the opportunity to do so.
    </p>

    <h2>CoderDojoって何？（日本語訳）</h2>
    <p>
      「CoderDojoは、ボランティア主導で且つコミュニティベースな無料の若い人たち向けプログラミングクラブの世界的な活動です。
      7歳から17歳までの誰でもDojoを訪れて、コードを学んだり、ウェブサイトを作ったり、アプリやゲームをつくったり、
      技術を探求することができる、カジュアルで創造的な環境です。
    </p>
    <p>
      CoderDojoの活動の中では、プログラミング言語の理解が現代の世界でますます重要になってきていると考えられています。
      若いうちにこれらのスキルを学ぶほうがより容易に習得しやすく、誰もがその機会を拒否するべきではないと考えています。」
    </p>

    <h2>CoderDojoガイダンス</h2>
    <p>
      ここまでの内容は、CoderDojoとしての最も基本的な考え方の部分です。実際のDojoの様子や考え方を知っていただくには、
      こちらのスライド（作成：コーダー道場こだいら）をみていただくのがいいと思います。
    </p>

    <SpeakerDeck id="55f52b6eead6418c8da23c6e303909d8" />

    <h2>あなたがDojoに来る理由は何ですか？</h2>
    <div
      style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; margin: 2rem 0;"
    >
      <iframe
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
        src="https://www.youtube.com/embed/gLDue2xb1j8?rel=0"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>

    <p>
      私たちは、活動の場をDojoと呼んでいます。これは空手や柔道などで使う「道場」と同じで、CoderDojoの創始者が合気道をやっていたこともあって、
      自分たちの活動の場を「道場(Dojo)」と呼ぶようになったようです。
    </p>
    <p>もし、CoderDojoの活動に興味を持たれたら是非、お近くのDojoに足を運んでみてください。</p>
  </section>
</Page>
