---
import Page from "@layouts/Page.astro";
---

<Page title="行動規範" description="CoderDojo 奈良に参加するみんなに守ってほしいこと">
  <section style="max-width: 70ch; margin: 4rem auto; padding: 0 1.5rem;">
    <h1>CoderDojo 奈良に参加するみんなに守ってほしいこと（行動規範）</h1>
    <p>CoderDojo 奈良のすべての活動（オンライン、オンサイトを含む）で、参加するみんなに守ってほしいこと（行動規範）をまとめています。</p>

    <h2>1. 目的</h2>
    <p>CoderDojoのただひとつのルールは、"Be Cool"（カッコよくあれ！）です。</p>
    <p>CoderDojoに参加するすべての人は、なによりもカッコよくあるべきだと考えます。</p>
    <p>
      私たちはいじめ、うそつき、人の時間をムダにするなどのカッコ悪いことをせず、
      クールでカッコよく誰に対しても楽しく、安全で快適な場を提供できるように努力します。
    </p>
    <p>
      ここには、参加するみなさんにやって欲しいことと、やって欲しくないこと、
      やって欲しくないことをやった時にどんなことが起こるかについてまとめています。
    </p>
    <p>
      CoderDojo 奈良にすべての参加者（ニンジャ、保護者、サポーター、見学者、その他の参加者の皆さん）が、
      誰にとっても安全で楽しい体験ができる場を実現するために協力してくれることを期待しています。
    </p>

    <h2>2. やってほしいこと</h2>
    <ul>
      <li>参加する人それぞれが自分のやりたいことをやる環境を作り、自分の知っていることを他の人に教えたり一緒に考えたりする。</li>
      <li>それぞれの考え方や気持ちを大切にし、人種、性別、性認知、宗教、身体的な違いなどによって差別をしない。</li>
    </ul>

    <h2>3. して欲しくないこと</h2>
    <ul>
      <li>おどかす、こわがらせる、めいわくなことをする、いじめる、差別する、事実ではないことで誰かを傷つける、バカにするようなこと。</li>
      <li>人種、性別、性認知、宗教、身体的な違いについての攻撃的な発言、プレゼンスライドを含む誰もがみられる場所で他の人がイヤな思いをする表現（文字、画像、映像）の使用。</li>
    </ul>

    <h2>5. して欲しくないことが招く結果</h2>
    <ul>
      <li>もし参加者がして欲しくないことをした場合は、Dojoから退場してもらうことも含め、チャンピオンやサポーターが適切だと考える対応を行います。</li>
      <li>して欲しくないことは、参加者全員、年齢に関係なく許されません。</li>
      <li>して欲しくないことやめるように言われたら、すぐにやめましょう。</li>
    </ul>

    <h2>6. して欲しくないことをされたり、誰かがされているとき</h2>
    <p>
      もしあなた自身がして欲しくないことをされたり、誰かがされていたり、その他気になることがあったりした場合は、
      すぐにチャンピオンやサポーターに教えてください。
    </p>

    <h2>7. 適用範囲</h2>
    <p>
      CoderDojoに参加するすべての人（ニンジャ、保護者、サポーター、チャンピオン）が、
      全イベント会場およびイベントに関連する行事などにおいてこの行動規範に従うことを期待します。
    </p>

    <hr />
    <p>最終更新日と文書バージョン</p>
    <ul>
      <li>2025年3月15日、バージョン1.2</li>
      <li>2023年10月26日、バージョン1.1</li>
      <li>2021年8月7日、バージョン1.0</li>
    </ul>
  </section>
</Page>
