---
import Page from "@layouts/Page.astro";
---

<Page title="お問い合わせ" description="CoderDojo 奈良へのお問い合わせ">
  <section style="max-width: 70ch; margin: 4rem auto; padding: 0 1.5rem;">
    <h1>お問い合わせ</h1>
    <p>CoderDojoへの参加に関心を持ってくださり、ありがとうございます。</p>
    <p>
      問い合わせについては、<a href="https://forms.gle/tYBwSvrEiEYujNNa7" target="_blank" rel="noopener">お問い合わせフォーム</a>で受け付けています。
      もっとカジュアルにコンタクトしたい、という方は<a href="https://x.com/CoderDojoNara" target="_blank" rel="noopener">X（旧Twitter）</a>もありますので、
      お気軽にメンションやメッセージをください。
    </p>
    <p>
      <a href="/staff/">どんな人がやってるの？についてはこちら</a>にあります。
      活動内容や参加方法など、どんなことでも結構ですので、気軽にご連絡くださいね。
    </p>
  </section>
</Page>
