---
import Page from "@layouts/Page.astro";
---

<Page title="参加する" description="CoderDojo 奈良への参加方法">
  <section style="max-width: 70ch; margin: 4rem auto; padding: 0 1.5rem;">
    <h1>参加する</h1>
    <p>
      CoderDojoへの参加に関心を持ってくださり、ありがとうございます。ご参加いただく前に、今一度私たちの活動について説明させてください。
    </p>
    <p>
      CoderDojoは、プログラミングによる子供たちの創作活動をサポートする活動です。「プログラミング教室」ではありませんので、
      テキストや決まったカリキュラムはありません。子どもたちが作りたいものをサポートする形になります。
      必要に応じて基本的な使い方のレクチャーは行いますが、がっつり教えるということはありません。
    </p>
    <p>
      では、何も得ることはないのか？というとそうではありません。CoderDojoに参加する子どもたちは、そうやって自分たちのやりたいことを見つけ、
      必要な知識やスキルを身に着けていきます。また、サポーターや他の子どもたちとコミュニケーションすることを経験して身に着けていきます。
    </p>
    <p>
      CoderDojoに参加する人は子どもも大人もひとりとして「お客さん」はいません。
      コミュニティのメンバーとしてコミュニティ全体を支えていく、盛り上げていく、そのようなスタンスで参加していただければ嬉しいです。
    </p>

    <h2>Be Cool!</h2>
    <p>
      CoderDojoにおける唯一のルールは"Be Cool!（カッコよくあれ！）"です。
      CoderDojoでは"Cool"であることだけが唯一のルールです。
      ひとりひとりがどうしたら"Cool"になれるかを考えて一緒に活動しましょう。
    </p>

    <h2>ニンジャとして参加したい</h2>
    <p>
      CoderDojoでは、参加する子供たちのことを"ニンジャ"と呼んでいます。
    </p>
    <p>
      奈良、生駒でそれぞれ月一回のペースでDojoを開いており、各回の開催案内や参加申し込みについては、
      <a href="https://coderdojo-nara-ikoma.connpass.com/" target="_blank" rel="noopener">connpass</a>
      というサービスを利用して受け付けています。こちらに登録していただきますと、開催ごとに案内がメールで送られますので、
      登録して開催の案内が届くのをお待ちください。すでに案内済みの回があるかもしれませんので、開催予定のイベントも確認しておいてください。
    </p>
    <p>
      なお、迷惑メールブロックを利用されている方は"@connpass.com"からのメールを受信可能なように設定をお願いします。
    </p>

    <h2>ボランティアスタッフ・サポーターとして参加したい</h2>
    <p>
      ありがとうございます、ぜひ<a href="/crew-wanted/">こちら</a>をご覧ください。
    </p>
    <p>みなさまのご参加をお待ちしています。</p>
  </section>
</Page>
