:where(:root) {
  --gray-0: #fff;
  --gray-1: #eaeaea;
  --gray-2: #d4d4d4;
  --gray-3: #bfbfbf;
  --gray-4: #aaa;
  --gray-5: #949494;
  --gray-6: #7f7f7f;
  --gray-7: #6a6a6a;
  --gray-8: #555;
  --gray-9: #404040;
  --gray-10: #2a2a2a;
  --gray-11: #151515;
  --gray-12: #000;

  --blue-light: #e8f4fd;
  --blue-dark: #3b82f6;

  --green-light: #e8fce9;
  --green-dark: #10b981;

  --yellow-light: #fef9e7;
  --yellow-dark: #fbbf24;

  --orange-light: #fef3e7;
  --orange-dark: #f97316;

  --red-light: #fee8e8;
  --red-dark: #ef4444;

  --purple-light: #f3e8ff;
  --purple-dark: #a855f7;

  --pink-light: #fde8f2;
  --pink-dark: #ec4899;

  --cyan-light: #e8fffe;
  --cyan-dark: #06b6d4;
}
