---
const {
  size = "md",
  class: className,
  useDefaultEditableBinding: _useDefaultEditableBinding = false,
  _component,
  ...htmlAttributes
} = Astro.props;
---

<div
  class:list={["spacer", className]}
  {...htmlAttributes}
  aria-hidden="true"
>
  <div class:list={["spacer-inner", `size-${size}`]}></div>
</div>

<style>
  @layer components {
    .spacer > .spacer-inner {
      height: 0;

      &.size-xs {
        height: var(--spacing-xs);
      }

      &.size-sm {
        height: var(--spacing-sm);
      }

      &.size-md {
        height: var(--spacing-md);
      }

      &.size-lg {
        height: var(--spacing-lg);
      }

      &.size-xl {
        height: var(--spacing-xl);
      }

      &.size-2xl {
        height: var(--spacing-2xl);
      }

      &.size-3xl {
        height: var(--spacing-3xl);
      }
    }
  }
</style>
