---
const {
  paddingVertical = "md",
  class: className,
  useDefaultEditableBinding: _useDefaultEditableBinding = false,
  _component,
  ...htmlAttributes
} = Astro.props;
---

<div
  class:list={["divider", className]}
  {...htmlAttributes}
  aria-hidden="true"
>
  <div class:list={["divider-inner", `padding-y-${paddingVertical}`]}>
    <hr class="rule" />
  </div>
</div>

<style>
  @layer components {
    .divider {
      > .divider-inner {
        &.padding-y-none {
          padding: 0;
        }

        &.padding-y-xs {
          padding-block: var(--spacing-xs);
        }

        &.padding-y-sm {
          padding-block: var(--spacing-sm);
        }

        &.padding-y-md {
          padding-block: var(--spacing-md);
        }

        &.padding-y-lg {
          padding-block: var(--spacing-lg);
        }

        &.padding-y-xl {
          padding-block: var(--spacing-xl);
        }

        &.padding-y-2xl {
          padding-block: var(--spacing-2xl);
        }

        &.padding-y-3xl {
          padding-block: var(--spacing-3xl);
        }

        > .rule {
          border: 0;
          border-top: 2px solid var(--color-border-subtle);
          margin: 0;
        }
      }
    }
  }
</style>
